.first-page{
     
     background-image: url(welcomw.jpg);
     height: 330px;
     width: 700px;
     color: white;
     width: 100%;
     margin:0px; 
     text-align: center;
     padding-top: 365px;
     font-size: 90px;
     font-family: 'Poppins', sans-serif;
}
.second-page{
     background-image: url(my\ world.jpeg);
     height: 330px;
     width: 700px;
     color: white;
     width: 100%;
     margin-top:60px; 
     text-align: center;
     padding-top: 305px;
     font-size: 50px;
     padding-bottom: 100px;
     color: rgb(245, 4, 225);

}
.width-two{
     color: springgreen;
}
.abc{
     display: flex;
     margin-top: 200px;
     margin-left:25px ;
     margin-right: 20px;
     margin-bottom: 15px;
}
.aaa{
     width: 50%;
     margin-left: 100px;
     margin-top: 80px;
     margin-right: 20px;
     margin-bottom: 30px;
     font-size: 20px;
     
}
.photo{
     margin-left: 100px;
     margin-bottom: 80px;
     padding-bottom: 20px;
     margin-top: 50px;
}
.bbb{
     color: rgb(253, 9, 9);
}
.ccc{
     box-shadow: 10px 10px 30px greenyellow;
     width: 50%;
     margin-bottom: 100px;
}
.photo-text{
     color: blue;
     margin-left: 30px;
}
.images img{
     width: 100%;
     border-radius: 10px;
     height: 50%;
     
}
.images-one{
     display: flex;
     height: 400px;
     width: 500px;
     margin-left: 50px;
}
.images-two{
     display: flex;
     height: 400px;
     width: 500px;
     margin-right: 70px;
     margin-left: 60px;
}

.images-three{
     display: flex;
     height: 400px;
     width: 500px;
     margin-left: 50px;
     margin-top: 10px;
}
.images-four{
     display: flex;
     height: 400px;
     width: 500px;
     margin-left: 50;
}



     
     


